.card-container{
    border: 4px dotted tomato ;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.178);
    color: rgb(85, 20, 198);
    padding: 16px;
  box-shadow: 0 10px 10px rgba(6, 34, 135, 0.1);
  transition: all 0.3s ease;
}

